@media only screen and (min-width: 768px) {
    .navbar .navbar-collapse
    {
        display: none !important;
    }
}

/*For Tablet Landscape*/
@media only screen and (max-width: 1024px) {
    .main-container>div
    {
        padding-left: 30px;
    }
}

/*For Tablet*/
@media only screen and (max-width: 768px) {
    .main-container>div
    {
        padding-left: 15px;
    }
}

/*For Mobile*/
@media only screen and (max-width: 736px) {
    .login-holder {
        width: 100%;
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        border: none;
    }
    
    .navbar-brand
    {
        margin-left: 5px !important;
    }
    
    .left-nav
    {
        display: none;
    }
    
    .main-container>div
    {
        padding: 0;
    }
    
    .modal-dialog {
        width: 95%;
    }
    
    .mob-no-gutter
    {
        padding: 0;
    }
    
    .chat-history-container
    {
        position: absolute;
        left: -150%;
        top: 45px;
        background: #fff;
        z-index: 999;
    }
    
    .chat-history-container.mob-show
    {
        left: 0;
    }
    
    .chat-box-container {
        border-left: 1px solid #ddd;
    }
    
    #chatnotif_image {
        width: 40vw;
    }
    
    span.chatnotif_name {
        font-size: 20px;
    }
    
    .chatnotif-action-holder {
        margin-bottom: 10px !important;
    }
}